.App {
  text-align: center;
  align-items: center;
  justify-content: center;
  /* background-color: #282c34; */
}
.currentWeather{
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #282c34;
}
.mainwidget{
  display: table;
  margin: 50px auto 0;
}
.left{
  fill: rgb(153, 156, 156);
}
.currentDate{
  fill: rgb(152, 153, 173);
}

.currentDateText{
  text-align: center;
  fill: beige;
  font-size: 20px;
}
.currentTemp{
  fill: rgb(255, 51, 0);
  fill-opacity: 0.5;
  
}
.currentTempText{
  text-align: center;
  fill: rgb(14, 13, 12);
   font-size: 43px;
}

.titleLine{
  fill: rgba(128, 118, 120, 0.171);
}
.titleLineText{

  font-weight: bold;
  fill: rgb(5, 5, 5);
  font-size: 23px;
}
.dayBlock{
  fill: rgb(74, 119, 119);
  /* fill-opacity: 0.1; */
}

.day {
  fill: rgb(102, 112, 84);

}

.currentDayText{
  fill: beige;
  font-size: 20px;
  
}
.currentDateTextMain{
  fill: rgb(10, 10, 10);
  font-size: 20px;
  font-weight: bold;
}
.currentDateTextMain1{
  fill: rgb(10, 10, 10);
  font-size: 40px;
  font-weight: bold;
}